<h1>Hello World!</h1>
<h2><%= @user.name %></h2>

<div class="">
  <div class="">
    <div class="">
      <% if current_user.avatar.attached? %>
      <%=    image_tag current_user.avatar.variant(resize: "128x128!"), class: "rounded-circle m-4"  %>
      <% end %>
      <%#= image_tag current_user.avatar.url, class: 'card-img-top rounded-circle' %>
      <div class="">
        <h4 class=""><%= "@#{@user.name}" %></h4>
        <p class="">
        </p>
      </div>
    </div>
  </div>

  <div>
    <%= form_with model: Post.new do |f| %>
      <div class="">
        <%= f.text_field :body, class: "", placeholder: "What do we do now?" %>

        <span class="">
          <%= f.submit "投稿", class: "" %>
        </span>
      </div>
    <% end %>
    <%= render partial: "post", collection: @posts %>
    <%= paginate @posts %>
  </div>
</div>